DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=lazone

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=
JWT_EXPIRES_IN=24h

TMDB_API_KEY=

NABOOPAY_API_KEY=
NABOOPAY_WEBHOOK_SECRET=

FRONTEND_URL=